body {
    background: linear-gradient(to right, #ffe632, #68b5f4);

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ChangePasswordForm {
    width: 400px;
    border: solid 2px rgb(0, 0, 0);
    height: 50vh;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
form {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}
label {
    font-size: 20px;
    font-weight: 600;
}
.form input {
    width: 95%;
    margin: 5px 20px 20px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
Button {
    background-color: #000000;
    width: 100%;
    color: #fff;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}