body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffe632, #68b5f4);
}
.profile-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-info {
    margin-top: 20px;
}
.profile-info h2 {
    margin: 10px 0;
}
.profile-info p {
    margin: 5px 0;
    color: #666;
}
#skills {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-self: center;
    max-height: 30px;
    border-radius: 16px;
    padding: 5px;
}
.courses_viewed , #name , .goals , #interests {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-self: center;
    max-height: 30px;
    border-radius: 16px;
    padding: 5px
}
button {
    margin-top: 20px;
    display: flex;
    width: 65%;
    justify-self: center;
    border-radius: 16px;
    padding: 5px;
    justify-content: center;

    &:hover {
        background: linear-gradient(to right, #ffe632, #68b5f4);
    }
}
