body {
    margin: 0;
    background: linear-gradient(to right, #ffe632, #68b5f4);
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formArea {
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
p {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 15px;
}
hr{
    margin: 0;
}
h1 {
    text-align: center;
    padding: 0;
}

.form {
    padding: 30px;
}

.form label {
    font-size: 15px;
    font-weight: 500;
}

.form input {
    width: 95%;
    margin: 5px 20px 20px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

.RegisterButton {
    background-color: #000000;
    min-width: 100%;
    color: #fff;
    border: none;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}