body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.firstPage {
    height: 100vh;
}
.SecondPage {
    height: 100vh;
}



.video-background {
    position: relative;
    height: 70vh;
    /* width: 100%;
    overflow: hidden; */
}
.video-background video {
    position: absolute;
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    z-index: 1;
    display: flex;
    height: 60px;
    justify-content: space-around;
}
.Websitelogo {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Websitelogo img {
    width: 100%;
    height: 100%;
}

.serachbar {
    width: 70vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.2);
}
.serachbar input {
    width: 100%;
    font-size: medium;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.serachbar input::placeholder {
    color: rgb(0, 0, 0, 0.5);
}
.serachbar img {
    width: 40%;
    display: block;
    margin: auto;
    object-fit: contain;
    cursor: pointer;
}


.Smallnav {
    width: 5vw;
}
.Smallnav a {
    text-decoration: none;
    color: white;
}
.Smallnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.Getstarted a {
    text-decoration: none;
    color: black;
}

.material-symbols-outlined {
    color: #ffffff;
}

.LoginButton {
    width: 5vw;
}
.LoginButton a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
}
.LoginButton button {
    height: 60%;
    width: 100%;
    border-radius: 28px ;
    border: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255,230,50);

    /* background-color: #53BDEB; */

    /* background-color: #65c6f0; */

    /* background-color: rgb(50, 204, 255); */
    /* background-color: rgb(255, 50, 204); */
    /* background-color: rgb(50, 180, 255); */
}


.homeText {
    margin: 0px 0px 0px 0px;
    padding: 0;
    position: absolute;
    font-family: GT Super Display;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: -.02rem;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.homeText h1 {
    margin: 0;
}


.Getstarted {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 64px;
    border-radius: 100px;
    background-color: rgb(255,230,50);
    /* background-color: rgb(50, 255, 255); */

    /* background-color: #65c6f0; */
    /* background-color: #53BDEB; */
    color: black;
    cursor: pointer;
}
.Getstarted button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}


.threeSections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(to right, #ffe632, #68b5f4);                                                     */
    background: #000;
    /* background-color: rgb(50, 255, 255); */
}
.threeSections .section {
    width: 200px;
    margin: 0;
    padding: 0;
    border: #000000 1px solid;
    /* background: #ffffff; */
    /* background-color: rgb(255,230,50); */
    /* background-color: rgb(50, 255, 255); */
    background-color: #65c6f0;
    border-radius: 10px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.threeSections .section a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}




.SecondPage {
    height: 100vh;
    /* background-color: rgba(50, 139, 255, 0.619); */
    /* background-color: rgb(255,230,50);    */
}
.content .content1 {
    height: 100vh;
}
.content .content1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .content1 a {
    z-index: 1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}

.content .content1 a:hover {
    color: lightgrey;
 
}
.content .content2 a:hover {
    color: lightgrey;
 
}

.ThirdPage {
    height: 100vh;
    /* background-color: rgba(50, 139, 255, 0.619); */
    /* background-color: rgb(255,230,50);    */
}
.content .content2 {
    height: 100vh;
}
.content .content2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .content2 a {
    z-index: 1;
    position: absolute;
    top: 255%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}


.footer {
    /* background: linear-gradient(to right, #ffe632, #68b5f4);  */
    background: #ffe632; 
    padding: 20px 0;
    width: 100%;
}

.footer {
    height: 40vh;
    align-content: center;
}

.links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.links a {
    color: rgb(0, 0, 0);
    margin: 20px 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px 20px 30px ;

    transition: color 0.3s;
}

.footer a:hover {
    background: linear-gradient(to left, #ffe632, #65c6f0); 
    border-radius: 30px;
}

.footer {
    text-align: center;
}