body {
    background: linear-gradient(to right, #ffe632, #68b5f4);
    font-family:  super;
    margin: 0;
    padding: 0;
}
.content {
    background-color: rgba(0, 0, 0);
    height: 100vh;
}
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: large;
    max-width: 1200px;
    padding: 20px;
}
#box {
    /* background-color: #ffffff; */
    background-color: #53BDEB;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #000000;
    text-decoration: #ffc0cb ;
    font-weight:bold;
}
.footer a {
    text-decoration: none;
}

.footer {
    height: 30vh;
    max-width: 100vw ;
    background-color: rgb(255,230,50);
    font-size:x-large;
    padding: 20px;
    text-align: center;
    align-content: center;
}